* {
    box-sizing: border-box;
  }

body {
    margin:0 ;
    padding: 0;
    background-color: bisque;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}


.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 30px double black;
    height: 100vh;
}

.shopContainer {
    border: 6px solid black;
    border-radius: 10%;
    padding: 1rem;
}

.secretSpot {
    position: absolute;
    margin-left:69vw;
    margin-bottom: 69vh;
    height:5px;
    width: 10px
}

.cookieCounter {
    transition: color 0.5s ease;
}

.plusClick {
    padding:1.5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10%;
    border: 3px solid black;
}

button {
    cursor: pointer;
}

.special {
    text-transform: uppercase;
    color: red;
}

@media (max-width: 425px) {
   
    .sSMessage {
        font-size: .80rem;
        width: 75%;
    }
    .shopContainer {
        padding: .25rem;
    }
  
  }